/* Typographie */
@font-face {
  font-family: "Josefin Sans";
  src: url("../../fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: "Alata";
  src: url("../../fonts/Alata-Regular.ttf");
}
/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

p, a {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.flex {
  display: flex;
}

#button {
  color: black;
  border: 1px solid black;
  padding: 2% 10%;
  text-transform: uppercase;
}
#button:hover {
  background-color: black;
  color: white;
}

.not-active {
  display: none;
}

header .logo {
  width: 50%;
}

header .flex {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#menu {
  font-size: 1.5rem;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 20px;
}
#menu ul {
  padding-top: 20px;
}
#menu ul li {
  padding: 10px 0;
}
#menu ul a {
  text-transform: uppercase;
}

@media screen and (min-width: 1100px) {
  .only-mobile {
    display: none;
  }

  #menu {
    background: none;
    position: static;
    padding: 0;
  }
  #menu ul {
    display: flex;
  }
  #menu ul li {
    padding: 20px;
  }
  #menu ul li a {
    text-transform: none;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* Header */
header {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-position-x: center;
  background-size: cover;
  height: 100vh;
  flex-direction: column;
  color: white;
  padding: 50px 20px;
}
header nav a {
  color: white;
}
header h1 {
  margin-top: 150px;
  padding: 4% 8%;
  border: 2px solid white;
  vertical-align: middle;
  font-size: 2.5rem;
}

@media screen and (min-width: 1100px) {
  header {
    background-image: url("../../images/desktop/image-hero.jpg");
    background-position-x: center;
    background-size: cover;
    padding: 25px 50px;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    padding: 20px;
  }
  header nav ul li a {
    font-size: 1.2rem;
  }
  header h1 {
    width: 40%;
    font-size: 3rem;
    padding: 40px;
  }
}
.interactive {
  padding: 5% 2%;
}
.interactive h2 {
  text-align: center;
  font-size: 2rem;
}
.interactive p {
  padding: 5%;
  text-align: center;
  font-size: 1.1rem;
  color: dimgray;
}

#interactive-img {
  background-image: url("../../images/mobile/image-interactive.jpg");
  background-size: cover;
  width: inherit;
  height: 200px;
  margin: 5%;
}

@media screen and (min-width: 940px) {
  #interactive-img {
    background-image: url("../../images/desktop/image-interactive.jpg");
    height: 500px;
    width: 60%;
  }

  .interactive > div {
    position: relative;
  }
  .interactive > div .contenu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    background-color: white;
    padding: 3rem;
  }
}
.creation {
  flex-direction: column;
}
.creation a {
  color: white;
}
.creation > div:first-child {
  order: 1;
}
.creation > div:last-child {
  order: 2;
}
.creation h2 {
  text-align: center;
  font-size: 2rem;
}

.button {
  order: 3;
  display: flex;
  justify-content: center;
}

.images {
  background-repeat: no-repeat;
  position: relative;
  height: 160px;
  margin: 5%;
}
.images h3 {
  position: absolute;
  bottom: 0;
  padding: 20px;
  font-size: 1.7rem;
  width: 60%;
}

#Deep {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-deep-earth.jpg");
  background-size: cover;
}

#Night {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-night-arcade.jpg");
  background-size: cover;
}

#Soccer {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-soccer-team.jpg");
  background-size: cover;
}

#Grid {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-grid.jpg");
  background-size: cover;
}

#From {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-from-above.jpg");
  background-size: cover;
}

#Pocket {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-pocket-borealis.jpg");
  background-size: cover;
}

#Curiosity {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-curiosity.jpg");
  background-size: cover;
}

#Fisheye {
  background: linear-gradient(to right, #0007, #fff0), url("../../images/mobile/image-fisheye.jpg");
  background-size: cover;
}

/* Media Query */
@media screen and (min-width: 606px) {
  .creation {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .creation h2 {
    text-align: left;
    margin-left: 55px;
  }

  .image-contenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .image-contenaire a {
    height: 450px;
    width: 256px;
    margin: 20px;
  }
  .image-contenaire a .images {
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .button {
    order: 1;
    width: 50%;
    justify-content: flex-end;
  }
  .button a {
    margin-right: 60px;
  }

  .creation > div:first-child {
    width: 50%;
  }

  #Deep {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-deep-earth.jpg");
  }
  #Deep:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-deep-earth.jpg");
  }
  #Deep:hover h3 {
    color: black;
  }

  #Night {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-night-arcade.jpg");
  }
  #Night:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-night-arcade.jpg");
  }
  #Night:hover h3 {
    color: black;
  }

  #Soccer {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-soccer-team.jpg");
  }
  #Soccer:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-soccer-team.jpg");
  }
  #Soccer:hover h3 {
    color: black;
  }

  #Grid {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-grid.jpg");
  }
  #Grid:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-grid.jpg");
  }
  #Grid:hover h3 {
    color: black;
  }

  #From {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-from-above.jpg");
  }
  #From:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-from-above.jpg");
  }
  #From:hover h3 {
    color: black;
  }

  #Pocket {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-pocket-borealis.jpg");
  }
  #Pocket:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-pocket-borealis.jpg");
  }
  #Pocket:hover h3 {
    color: black;
  }

  #Curiosity {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-curiosity.jpg");
  }
  #Curiosity:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-curiosity.jpg");
  }
  #Curiosity:hover h3 {
    color: black;
  }

  #Fisheye {
    background: linear-gradient(to right, #0007, #fff0), url("../../images/desktop/image-fisheye.jpg");
  }
  #Fisheye:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.75)), url("../../images/desktop/image-fisheye.jpg");
  }
  #Fisheye:hover h3 {
    color: black;
  }
}
footer {
  margin-top: 20px;
  background-color: black;
  padding: 5%;
}
footer nav {
  flex-direction: column;
  align-items: center;
}
footer nav img {
  padding: 5%;
}
footer nav > ul {
  flex-direction: column;
  align-items: center;
}
footer nav > ul li {
  margin: 10px;
}
footer nav > ul li a {
  color: white;
}
footer .reseau {
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
footer .reseau ul {
  justify-content: center;
}
footer .reseau ul li {
  padding: 5%;
}
footer .reseau p {
  color: #8c8c8c;
}

@media screen and (min-width: 1100px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  footer nav {
    align-items: flex-start;
    padding: 0 0 0 55px;
  }
  footer nav img {
    padding-left: 0;
    padding-right: 0;
  }
  footer nav ul {
    flex-direction: row;
  }
  footer nav ul li:first-child {
    margin-left: 0;
  }
  footer .reseau {
    padding: 0 60px 0 0;
  }
  footer .reseau ul {
    justify-content: flex-end;
  }
  footer .reseau ul li:last-child {
    padding-right: 0;
  }
}

/*# sourceMappingURL=main.css.map */
